<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
    <title>index</title>
  </head>
  <body>
    <%- include('nav') %>

    <div class="container mb-3">
        <div class="jumbotron">
            <form action="/users/signin" method="post">
                <div class="loginArea">
                    <input type="text" class="form-control loginBox" placeholder="ID" name="userId">
                    <input type="password" class="form-control loginBox" placeholder="Password" name="password">
                </div>
                <div class="buttonArea">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    <!-- <button type="button" class="btn btn-success" onclick="location.href='/signup'">Sign up</button> -->
                    <a href='/users/signup' class="btn btn-success">Sign up</a>
                </div>
            </form>
        </div>
    </div>
  </body>
</html>