<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
    <title>Open ChatRoomList</title>
  </head>
  <body>
    <%- include('nav') %>

    <div class="container mb-3">
        <div class="jumbotron">
          <table class="table table-condensed">
            <form action="/openchat/room">
              <tr class="content">
                <td id="room1Cnt">참여인원 수 : </td>
                <td>방 번호 : 1</td>
                <td><button type="button" class="btn btn-primary enter_btn" style="width:100px; float:right;">입장</button></td>
              </tr>
            </form>

            <form action="/openchat/room">
              <tr class="content">
                <td id="room2Cnt">참여인원 수 : </td>
                <td>방 번호 : 2</td>
                <td><button type="button" class="btn btn-primary enter_btn" style="width:100px; float:right;">입장</button></td>
              </tr>
            </form>
          </table>  
        </div>
    </div>
    
    <script>
      $(document).ready(function(){
        $("tr.content .enter_btn").click(function(){

          roomNo = $(this).parent('td').parent('tr').children('td').eq(1).text();
          roomNo = roomNo.substring(7, roomNo.length);

          window.location.href='/openchat/room?no='+roomNo;
        });
      });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      $(function(){

        // socket = io.connect('http://localhost:3000/');  // (개발 환경)
        socket = io.connect();  // (배포 환경)

        socket.on("connect", function (data) { 
          console.log("server connect");
        });
  
        socket.on("message", function (msg) {
          console.log(msg);
        });

        socket.on('initUserCountInfoRoom1', function (data){
          $("#room1Cnt").html("참여인원 수 : " + data);
        });
        
        socket.on('initUserCountInfoRoom2', function (data){
          $("#room2Cnt").html("참여인원 수 : " + data);
        });
        
        socket.on('userCountInfoRoom1', function (data){
          $("#room1Cnt").html("참여인원 수 : " + data);
        });
        
        socket.on('userCountInfoRoom2', function (data){
          $("#room2Cnt").html("참여인원 수 : " + data);
        });
      });
    </script>


  </body>
</html>