/* public/stylesheets/style.css */

/* header, nav css */
.contact .contact-form,
.contact-index ul{
  max-width: 500px;
}
.contact h2{
  color: tomato;
}
.contact .contact-form label,
.contact-show label{
  display: inline-block;
  width: 70px;
}
.contact .contact-menu form{
  display: inline-block;
}


/* login page css */
.loginArea{
  text-align: center;
}

.loginBox {
  display: inline-block;
  width: 50%;
  margin: 5px;
}

.buttonArea{
  margin-top: 30px;
  text-align: center;
}

.btn{
  display: inline-block;
  width: 25%;
}



.cate_area{
  display: flex;
}

.cate_div{
  flex: 1;
  text-align: center;
}

