<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
    <title>Introduce</title>
  </head>
  <body>
    <%- include('nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>SOCIAL CHATTING SERVICE</h1>
        <P>이 웹사이트는 소셜 채팅 웹사이트 입니다.</p>
      </div>

    </div>
  </body>
</html>